@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap");
@import url("href=https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.bg-black {
  background-color: black;
  color: white;
}

.nav-link {
  color: #5da35b !important;
}

.nav-link:hover {
  color: #62d45f !important;
}

#navbar-items {
  margin-right: 25px;
}

.nav-item {
  font-size: 18px;
  color: #5da35b;
}

.nav-item:hover {
  color: #62d45f;
}

@media (min-width: 992px) {
  .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav-item:hover {
    border-bottom: 2px solid #62d45f;
  }
}

/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-view {
  background-image: url("home_picture.jpg");
  height: 620px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
}

.home-text {
  color: white;
  font-family: "Inconsolata", monospace;
  padding-left: 65%;
  padding-top: 215px;
  user-select: none;
}

section header {
  padding-top: 55px;
  text-align: center;
  font-family: monospace;
  font-size: 36px;
  font-weight: bold;
  color: #3c9438;
}

.aboutme-view {
  padding-top: 25px;
  padding-bottom: 80px;
}

.aboutme-content {
  margin: 50px 0px 20px 0px;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #cccccc;
  text-align: justify;
  text-justify: inter-word;
}

.aboutme-text {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

.coder-img {
  display: block;
  margin: auto;
  max-width: 600px;
  width: 100%;
  height: auto;
}

.contact-elements {
  display: flex;
}

.contact-elements div {
  margin: 0 20px;
}

#cv_button {
  margin: 0;
  padding: 5px 15px 5px 15px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.1em;
  color: #99ddee; /* Text color */
  background-color: transparent; /* Remove background color */
  border: 2px solid #99ddee; /* Border thickness, line style, and color */
  border-radius: 5px; /* Adds curve to border corners */
  transition: 1s all ease;
  overflow: hidden;
  outline: none;
}

#cv_button:hover {
  color: #6ea36c;
  border: 2px solid #6ea36c;
  transition: all 0.6s ease;
}

.email-label {
  color: #62d45f;
  font-family: monospace;
  padding-left: 5px;
  cursor: text;
}

.skill-title {
  padding-top: 20px !important;
  font-size: 24px;
  background: -webkit-linear-gradient(#6699ff, #66ff99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}

.skill-label {
  padding: 20px;
  margin: 20px 10px 15px 10px;
  width: 140px;
  color: black;
  font-size: 18px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  border-radius: 12px;
  background: linear-gradient(to top right, #66ff99 0%, #6699ff 100%);
}

.skill-label:hover {
  background: linear-gradient(to top right, #99ff99 0%, #99ccff 100%);
}

#projects {
  min-height: 700px;
}

.img-gallery {
  opacity: 0.8;
  border: 8px solid white;
  border-radius: 10px;
  transition: 0.3s all ease-out;
}

.img-gallery:hover {
  opacity: 1;
  border-width: 3px;
  border-color: #99ddee;
  cursor: pointer;
  margin-bottom: 1px;
}

figcaption {
  font-family: monospace;
  color: white;
  cursor: default;
  display: flex;
}

figcaption div {
  margin: 2px 14px;
}

#contactme {
  text-align: center;
  color: #99ddee;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
}

#inputEmail[type="text"] {
  width: 50%;
  min-width: 300px;
  margin: 5px 0;
  padding: 6px 10px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 2px solid #99ddee;
  border-radius: 10px;
  outline: none;
  transition: 0.3s all ease;
}

#inputEmail[type="text"]:hover,
#inputEmail[type="text"]:focus {
  border: 2px solid #3c9438;
  margin: 1px 0;
  padding: 10px 10px;
  width: 55%;
  min-width: 330px;
}

#inputMessage[type="text"] {
  width: 60%;
  min-width: 300px;
  margin: 5px 0;
  padding: 6px 10px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 3px solid #99ddee;
  border-radius: 10px;
  outline: none;
  transition: 0.3s all ease;
}

#inputMessage[type="text"]:hover,
#inputMessage[type="text"]:focus {
  width: 65%;
  min-width: 330px;
  margin: 2px 0;
  border: 2px solid #3c9438;
  padding: 10px 10px;
}

.inputlabel-margin {
  padding-top: 30px;
  letter-spacing: 0.08em;
}

#buttonSubmit {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 6px 10px;
  width: 8%;
  min-width: 80px;
  font-size: 20px;
  color: black;
  background-color: #99ddee;
  border: 2px solid #3c9438;
  border-radius: 5px;
  transition: 0.5s;
}

#buttonSubmit:hover {
  width: 10%;
  min-width: 100px;
  padding: 7px 10px;
  background-color: #3c9438;
  border-radius: 7px;
  border-color: #99ddee;
}

#contact-section {
  min-height: 500px;
}

@media (max-width: 768px) {
  .aboutme-text {
    width: 95%;
    margin-bottom: 50px;
  }

  figcaption div {
    font-size: 14px;
    margin: 3px 30px;
  }
}

@media (min-width: 1153px) and (max-width: 1192px) {
  .contact-elements div {
    margin: 0;
  }
}

@media (min-width: 607px) and (max-width: 992px) {
  .contact-elements {
    justify-content: center !important;
  }
}

@media (max-width: 607px) {
  .contact-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1152px) {
  .contact-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-elements div {
    margin-top: 10px;
  }
}
